html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

body > header{
    background-color:#d52a54;
    position: fixed;
    width: 100vw;
    height: 8vh;
    top: 0;
}

body > header > nav{
    width: 80%;
    margin: auto;
}

body > header > nav > ul{
    width: 100%;
    padding: 0;
}

body > header > nav ul li{
    display: inline-block;
    color: white;
    font-size: 1em;
    text-align: center;
    width: calc(100% / 6);
}

#first-section{
    background-image: url("");
}