html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

body > header:first-of-type{
    background-color:#d52a54;
    position: fixed;
    width: 100vw;
    height: 8vh;
    top: 0;
    z-index: 1;
}

body > header > nav{
    width: 80%;
    margin: auto;
}

body > header > nav > ul{
    width: 100%;
    padding: 0;
}

body > header > nav ul li{
    display: inline-block;
    color: white;
    font-size: 1em;
    text-align: center;
    width: calc(100% / 6);
}

#first-section{
    background-image: url("teacher.jpeg");
    background-size: cover;
    height: 100vh;
}

#first-section > section{
    position: absolute;
    margin-left: 10vw;
    margin-top: 35vh;
}

h1{
    color: white;
    font-size: 3em;
    margin: 0;
    padding: 0;
}

h2{
    color: white;
    font-size: 2.25em;
    margin: 0;
    padding: 0;
}

strong{
    color: #d52a54;
}

#second-section{
    background-color: white;
    height: 100vh;
}

#second-section > header{
    margin: 10vh;
}

h3{
    text-align: center;
    font-size: 2em;
}

#second-section > section:first-of-type{
    height: 30vh;
    width: 35vw;
    position: absolute;
    margin-top: 6vh;
    margin-left: 12vw;
}

#second-section > section:last-of-type{
    height: 30vh;
    width: 35vw;
    position: absolute;
    margin-top: 6vh;
    margin-left: 53vw;
}

#third-section{
    background-color: #0b6ccd;
    height: 100vh;
}

h4{
    text-align: center;
    font-size: 2em;
    color: white;
    position: absolute;
    margin-top: 10vh;
    width: 100vw;
    font-family: 'Bitter', serif;
}

#third-section > article:first-of-type{
    height: 35vh;
    width: 24vw;
    position: absolute;
    margin-top: 28vh;
    margin-left: 10vw;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 50%);
}

#third-section > article:first-of-type > header{
    background-image: url("code.jpeg");
    background-size: cover;
    height: 12vh;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'Bitter', serif;
}

h5{
    color: white;
    text-align: center;
    font-size: 1.3em;
}

#third-section > article:first-of-type p{
    height: 25vh;
    width: 22vw;
    padding: 1em;
    font-family: 'Bitter', serif;
}

#third-section > article:nth-of-type(2){
    height: 35vh;
    width: 24vw;
    position: absolute;
    margin-top: 28vh;
    margin-left: 40vw;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 50%);
}

#third-section > article:nth-of-type(2) > header{
    background-image: url("design.jpeg");
    background-size: cover;
    height: 12vh;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'Bitter', serif;
}

h6{
    color: white;
    text-align: center;
    font-size: 1.3em;
}

#third-section > article:nth-of-type(2) p{
    height: 25vh;
    width: 22vw;
    padding: 1em;
    font-family: 'Bitter', serif;
}

#third-section > article:last-of-type{
    height: 35vh;
    width: 24vw;
    position: absolute;
    margin-top: 28vh;
    margin-left: 70vw;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 50%);
}

#third-section > article:last-of-type > header{
    background-image: url("management.jpeg");
    background-size: cover;
    height: 12vh;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'Bitter', serif;
}

h7{
    color: white;
    text-align: center;
    font-size: 1.3em;
    position: absolute;
    top: 4vh;
    width: 100%;
    font-weight: bold;
}

#third-section > article:last-of-type p{
    height: 25vh;
    width: 22vw;
    padding: 1em;
    font-family: 'Bitter', serif;
}

#fourth-section{
    background-color: white;
    height: 100vh;
}

h8{
    text-align: center;
    font-size: 2em;
    color: black;
    position: absolute;
    margin-top: 10vh;
    width: 100vw;
    font-family: 'Bitter', serif;
}

#fourth-section > article:first-of-type{
    height: 40vh;
    width: 20vw;
    position: absolute;
    margin-top: 25vh;
    margin-left: 3vw;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #1e5d62;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 50%);
}

#fourth-section > article:first-of-type header{
    width: 100%;
    height: 15vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    font-family: 'Bitter', serif;
    text-transform: uppercase;
    background-image: url("agenda.png");
    background-position: center;
    background-repeat: no-repeat;
}

#fourth-section > article:nth-of-type(2){
    height: 40vh;
    width: 20vw;
    position: absolute;
    margin-top: 25vh;
    margin-left: 28vw;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #1e5d62;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 50%);
}

#fourth-section > article:nth-of-type(2) header{
    width: 100%;
    height: 15vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    font-family: 'Bitter', serif;
    text-transform: uppercase;
    background-image: url("agenda.png");
    background-position: center;
    background-repeat: no-repeat;
}

#fourth-section > article:nth-of-type(3){
    height: 40vh;
    width: 20vw;
    position: absolute;
    margin-top: 25vh;
    margin-left: 52vw;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #1e5d62;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 50%);
}

#fourth-section > article:nth-of-type(3) header{
    width: 100%;
    height: 15vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    font-family: 'Bitter', serif;
    text-transform: uppercase;
    background-image: url("agenda.png");
    background-position: center;
    background-repeat: no-repeat;
}

#fourth-section > article:last-of-type{
    height: 40vh;
    width: 20vw;
    position: absolute;
    margin-top: 25vh;
    margin-left: 76vw;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #1e5d62;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 50%);
}

#fourth-section > article:last-of-type header{
    width: 100%;
    height: 15vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    font-family: 'Bitter', serif;
    text-transform: uppercase;
    background-image: url("agenda.png");
    background-position: center;
    background-repeat: no-repeat;
}